data/train/metadata.json filter=lfs diff=lfs merge=lfs -text
data/val/metadata.json filter=lfs diff=lfs merge=lfs -text
data/test/metadata.json filter=lfs diff=lfs merge=lfs -text
data/val/fid_reference_stats.npz filter=lfs diff=lfs merge=lfs -text
data/val/embeddings/*.pt filter=lfs diff=lfs merge=lfs -text
data/train/embeddings_subsample/*.pt filter=lfs diff=lfs merge=lfs -text
data/train/metadata_subsample.json filter=lfs diff=lfs merge=lfs -text
